# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [2]:
# Load the csv exported in Part I to a DataFrame
weather_df = pd.read_csv('../output_data/cities.csv', index_col=0)
weather_df.dropna(inplace = True)
weather_df

,City,Country,Date,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed
0,Abū Zabad,SD,1641778396,12.3500,29.2500,75.74,28,45,8.41
1,East London,ZA,1641778397,-33.0153,27.9116,71.13,89,100,6.46
2,Mandiana,GN,1641778397,10.6333,-8.6833,69.96,21,13,5.57
3,Castro,BR,1641778397,-24.7911,-50.0119,56.73,94,83,5.14
4,Atuona,PF,1641778398,-9.8000,-139.0333,78.17,78,84,18.72
...,...,...,...,...,...,...,...,...,...
568,Biak,ID,1641778528,-0.9131,122.8766,83.28,62,100,1.10
569,Băneasa,RO,1641778528,44.0461,26.0642,40.98,89,100,13.56
570,Otegen Batyra,KZ,1641778529,43.4278,77.0222,28.96,93,100,6.71
571,Tubualá,PA,1641778529,9.5167,-79.0333,79.34,82,36,16.40
572,Anshun,CN,1641778529,26.2500,105.9333,43.18,91,100,5.77

### Humidity Heatmap

In [3]:
# Configure gmaps.
gmaps.configure(api_key=g_key)

In [24]:
# Use the Lat and Lng as locations and Humidity as the weight.
locations = weather_df[['Lat', 'Lng']]
weights = weather_df['Humidity'].astype(float)
max_intensity = weights.max()

# Set layout parameters for figure
layout = {
    'width': '800px',
    'height': '480px',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Plot Heatmap
fig = gmaps.figure(layout=layout, center=(0,0), zoom_level=2.5)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False,
                                max_intensity=max_intensity, point_radius=1)

# Add Heatmap layer to map
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='480px', margin='0 auto 0 auto', padding='1px', width='800px'))

### Create new DataFrame fitting weather criteria

In [40]:
# Narrow down the cities to fit weather conditions.
ideal_weather = weather_df.loc[(weather_df['Max_Temp'] <=85) &
                              (weather_df['Max_Temp'] >65) &
                              (weather_df['Humidity'] <=80) &
                              (weather_df['Cloudiness'] >10) &
                              (weather_df['Cloudiness'] <=30) &
                              (weather_df['Wind_Speed'] <=10)]

# Drop any rows will null values.
ideal_weather.dropna(inplace=True)

# Display data
ideal_weather

<ipython-input-40-7e8f102a97ef>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideal_weather.dropna(inplace=True)

,City,Country,Date,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed
2,Mandiana,GN,1641778397,10.6333,-8.6833,69.96,21,13,5.57
60,George Town,MY,1641778410,5.4112,100.3354,82.33,72,20,5.01
85,Christchurch,NZ,1641778269,-43.5333,172.6333,80.33,61,28,1.99
95,Kahului,US,1641778417,20.8947,-156.4700,82.42,68,20,8.05
114,Maroua,CM,1641778421,10.5910,14.3159,68.83,27,14,7.94
238,Carnot,CF,1641778452,4.9409,15.8665,69.60,31,13,2.77
307,Pombas,CV,1641778468,17.1503,-25.0201,67.78,80,14,6.98
348,Kīhei,US,1641778277,20.7850,-156.4656,82.42,69,20,8.05
436,Sorong,ID,1641778497,-0.8833,131.2500,82.69,75,30,4.72
456,Ndélé,CF,1641778502,8.4109,20.6473,73.99,29,17,4.18

### Hotel Map

In [41]:
# Store into variable named `hotel_df`.
hotel_df = pd.DataFrame(ideal_weather)

# Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ''

# Display dataframe
hotel_df

,City,Country,Date,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Hotel Name
2,Mandiana,GN,1641778397,10.6333,-8.6833,69.96,21,13,5.57,
60,George Town,MY,1641778410,5.4112,100.3354,82.33,72,20,5.01,
85,Christchurch,NZ,1641778269,-43.5333,172.6333,80.33,61,28,1.99,
95,Kahului,US,1641778417,20.8947,-156.4700,82.42,68,20,8.05,
114,Maroua,CM,1641778421,10.5910,14.3159,68.83,27,14,7.94,
238,Carnot,CF,1641778452,4.9409,15.8665,69.60,31,13,2.77,
307,Pombas,CV,1641778468,17.1503,-25.0201,67.78,80,14,6.98,
348,Kīhei,US,1641778277,20.7850,-156.4656,82.42,69,20,8.05,
436,Sorong,ID,1641778497,-0.8833,131.2500,82.69,75,30,4.72,
456,Ndélé,CF,1641778502,8.4109,20.6473,73.99,29,17,4.18,

In [47]:
# Set url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Use iterros to loop through hotels_df
for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving other params in place
    location = f"{lat},{lng}"
    
    # Set parameters to search for hotels with 5000 meters.
    params = {
        'location': location,
        'radius': 5000,
        'keyword': 'hotel',
        'key': g_key
    }

    # Hit the Google Places API for each city's coordinates.
    response = requests.get(base_url, params=params).json()

    # Store the first Hotel result into the DataFrame.
    try:
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
    except:
        print('Missing field/result - skipping...')
        hotel_df.loc[index, 'Hotel Name'] = 'Hotel Not Found'

# Display dataframe
hotel_df

Missing field/result - skipping...
Missing field/result - skipping...

,City,Country,Date,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Hotel Name
2,Mandiana,GN,1641778397,10.6333,-8.6833,69.96,21,13,5.57,Motels rouzo
60,George Town,MY,1641778410,5.4112,100.3354,82.33,72,20,5.01,Hotel NEO+ Penang
85,Christchurch,NZ,1641778269,-43.5333,172.6333,80.33,61,28,1.99,Hotel Montreal
95,Kahului,US,1641778417,20.8947,-156.4700,82.42,68,20,8.05,Maui Seaside Hotel
114,Maroua,CM,1641778421,10.5910,14.3159,68.83,27,14,7.94,Hotel du Sahel
238,Carnot,CF,1641778452,4.9409,15.8665,69.60,31,13,2.77,Hotel Not Found
307,Pombas,CV,1641778468,17.1503,-25.0201,67.78,80,14,6.98,Tienne Del Mar
348,Kīhei,US,1641778277,20.7850,-156.4656,82.42,69,20,8.05,"Kohea Kai Maui, Ascend Hotel Collection"
436,Sorong,ID,1641778497,-0.8833,131.2500,82.69,75,30,4.72,Swiss-Belhotel Sorong
456,Ndélé,CF,1641778502,8.4109,20.6473,73.99,29,17,4.18,Hotel Not Found

In [48]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [49]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='480px', margin='0 auto 0 auto', padding='1px', width='800px'))